/** Media description **/
.collapse-non-ms{
    height:0;
    display:none;
}
.collapse-non-md.collapsing{
    display:block;
}
@media(min-width:992px){
    .collapse-non-md{
        height:auto;
        display:block;
    }
}
/** End Media description **/

a{
    cursor: pointer;
}

/** navbar description **/
.navbar{
    height: 5px;
    background-color: #f5f5f5;
}
/** end navbar description**/

/** Wrap display description **/

/** Datam table description **/
.table{
    width:99%;
    margin:10px;
}
.table>tbody>tr{
    height:2.9em;
}
tbody{
    display: block;
    height: 50vh;
    overflow: auto;
}
thead,tbody tr{
    display: table;
    width: 99%;
    table-layout: fixed;
}
thead{
    width: calc(100%-1em);
}

/** End of datam table description **/
ul>li{
    list-style: none;
}
input[readonly]{
    background-color: #bbb;
    border-radius: 4px;
}
#wrap{
    margin-top: 10px;
    height: 95vh;
    width: 99%;
    overflow:hidden;
}
.links,.links-grouped{
    cursor: pointer;
    margin-top: 5px;
    font-size: 19px;
    border: 1px solid #ddd;
}
.navlinks{
    cursor: pointer;
    margin-top: 10px;    
    font-size: 19px;
    border: 1px solid #ddd;
}
#l{
    margin-left: -10px;
}
#l,#r{
    height: 93vh;
}
#r{
    /*width: 77em;*/
}
.dropdown-menu{
    width: 99%;
}
#loading{
    position: absolute;
    background-color: rgba(255,229,116,0.9);
    z-index: 1;
    left: 50%;
    padding: 1px;
}

/** End Wrap display description **/

/** tr links **/
.tr-link{
    color: #08C;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
}
/** end of tr links **/

/** search style **/
.searchboxholder{
    display: block;
    border:#008801 thin solid; background-color: whitesmoke; border-radius: 7px;
    font-size: 21px; height:50px;
}
.searchbox{
    height: 34px; width: 17em;background-color: transparent; border: none;margin: 2px;
}
.lipillsuccess{
    background-color: #d0e9c6;
}
.lipillinfo{
    background-color: #5bc0de;
}
.lipilldanger{
    background-color: #d43f3a;
}
.suggest{
    display: block;
    position: absolute;
    width: 41vw;
    margin:3px;
    min-height: 10vh;
    max-height: 20vh;
    z-index: 3;
    font-size: 16px;
    background-color: #fff;
    opacity: 0.9;
    overflow-y: scroll;
}
.ajxloader{
    width:20px;
    /*margin-right:5px;*/
    position: absolute;
    margin-left: 93%;
    margin-top: 1px;
}
.searchicon{
    width:20px;
    margin-left:5px;
    margin-right:5px;
}
/** End Search style **/

/*input div style*/
.noinputerror{
    border-color: red;
}
.inputdiv{
    position: absolute;
    width:45vw;
    max-height: 85vh;
    bottom: 5em;
    right:0px;
    z-index: 10;
}
.inputboxholder{
    border:#a4acff thin solid; background-color: whitesmoke; border-radius: 7px;
    font-size: 18px;display: block;margin-top: 5px;
}
.inputbox{
    width: 257px;background-color: transparent; border: none;margin: 2px;
}
.boxholder{
    height: 65vh;       
    overflow-y: scroll;
}
.inputlabel{
    margin-top: 2px;width: 150px;
}
.inputboxholder:hover,.imgupload:hover{
    border-color: #01bc6d;
}
.imgupload{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

.imgpreview{
    text-align: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

.imgpreviewer{
    text-align: center;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}
/*end of input div style*/

/*table operations*/
.opsactive{
    color: rgba(255,202,0,0.9);
    margin-top: -5px;
}
.tblopsholder{
    /*position: absolute;*/
    right: 2em;
    display: block;
    height:2.1em;//Same as that of tr
    width: 15em;
}
.tblopsholder>div{
    /*position: relative;*/
    margin-top: -4px;
    display: inline-table;
}
.tblopsactions{
    /*border: red thin solid;*/
    /*position: absolute;*/
    margin-left: 10%;
}
.tblopsactions-inner{
    /*position: relative;*/     
}
.tblopsactions-inner>span{
    margin-left: 10px;
    margin-top: 2px;
}
.tblops{
    margin-left: 10px;
    transform: rotate(90deg);
    font-size: 24px;
    font-weight: bold;    
    float: right;
    cursor: pointer;
}
.operations{
    float: right;
    margin-right: 2rem;
}
/*end of table operations*/

/*textarea effects*/
textarea{
    resize: none;
    width: 90%;
    height: 95%;
}
/*end of textarea effects*/

/** Multiple selection **/
.cancel-selection{
    width: 1em;
    height: 1em;    
}
.cancel-selection:hover{
    color: #d43f3a;
    cursor: pointer;
    font-weight: bolder;
}
.selections{
    margin-left: -2.1em;
}
.selections>li:not(:first-child){
    margin-left: 2px;
}
/** End of multiple selection **/

/** Description popover **/
.wakes-popover:hover{
    cursor:pointer;
}
.description-popover{
    position:absolute;
    max-height:16em;
    max-width:16em;
    background-color:#f5f5f5;
    margin-top:4px;
}
/** End of description popover **/

/** active classes for elements **/
.bactive{
    border-left: solid 5px #08C;
    background-color: #eee;
}
.blink{
    animation: blink 700ms infinite alternate;
}
/** end active classes for elements **/

/** modified bootstrap caret **/
.corner-caret{
    position: absolute;
    bottom: 4px;
    right: 2px;        
    -ms-transform: rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    clear: both;
}
/** end modified bootstrap caret **/

/** stamp impression **/
.stamp{
    font-size: 12px;
    border-top: black thin solid;
    border-bottom: black thin solid;
    font-family:monospace;
    background-color: #faa293;
    -ms-transform: rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    transform: rotate(-10deg);
}
/** end stamp impression **/

/** animations **/
@keyframes blink{
    from {opacity:1;}
    to {opacity:0;}
}
/** end animations **/

/** custom Jquery styles **/
html .ui-autocomplete {
    height: 200px;
    overflow-y: scroll;
}
/** end custom jquery styles **/