<div>
    <div style="text-align: center; color: purple;">Trial version</div>
    <div class="row-fluid">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="links"> <a href="javascript:void(0);">Purchases account</a> </li>
                <li class="links"> <a href="javascript:void(0);">Sales account</a> </li>
            </ul>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            right
        </div>
    </div>    
</div>