<div>    
    <div id="datum">        
        {~}
    </div>

    <div class="hidden inputdiv well well-lg">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Updating station info</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder">
            <form class="dataform" enctype="multipart/form-data">
                <div class="container-fluid">
                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="editable imgupload img-responsive img-thumbnail" itemref="image" src="" alt="Click to upload a photo" />
                        <input class="hidden" type="file" id="myfile" name="myfile" accept="application/image" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Name</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Station name" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Manager</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Station manager" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Location</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Location" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Contact phone</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Contact phone" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Postal address</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Postal address" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Email</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Email" />
                        </div>
                    </div>
                    <br />
                    <div class="pull-right">                        
                        <div class="" style="padding: 5px;">
                            <input type="submit" class="btn btn-primary btn-lg" value="Update station info"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
