<div>
    <div class="breadcrumb">
        <ul class="nav nav-pills">
            <li class="active new">
                <a href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
            </li>
            <li class="active refresh">
                <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
            </li>
            <li class="hidden active backtoresults">
                <a href="javascript:void(0);" class="glyphicon">&leftarrow;</a>
            </li>
            <li class="pull-right">
                <div class="searchboxholder">
                    <div style="padding: 5px;">
                        <span class="glyphicon glyphicon-search" style="margin-top: 2px;">&emsp14;</span>
                        <input type="text" class="searchable searchbox" placeholder="search collections" />
                        <span class="ajxloader hidden"><img src="../images/loaders/ajax-loader-circle-ball-white.gif"/></span>
                    </div>
                    <div class="hidden suggest">
                        suggest results appear here
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr />
    <div class="btn-group">
        <button class="table-navigation btn glyphicon glyphicon-step-backward" direction="back"></button>
        <button class="table-navigation btn glyphicon glyphicon-step-forward" direction="forward"></button>
    </div>
    <hr />
    <div id="datum">
        {~}
    </div>

    <div class="inputdiv well well-lg hidden">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Adding fuel sale collection</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder" style="margin-top: 5px; padding: 5px; margin-left: -20px;">
            <form class="dataform">
                <div class="boxholder">                    
                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="imgpreview img-responsive img-thumbnail" src="" alt="No member selected" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Attendant</label>
                            <input type="text" class="searchable searchable-inline inputbox refsimage" itemid="empl" itemref="text" placeholder="Type to start search" />
                            <input type="hidden" class="saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder" >
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Shift</label>
                            <input type="text" class="searchable searchable-inline inputbox" itemid="shif" itemref="text" placeholder="Type to start search" />
                            <input type="hidden" class="saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder" >
                            suggest results appear here
                        </div>
                    </div>                    
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Pump</label>
                            <input type="text" class="searchable searchable-inline inputbox" itemid="pump" itemref="text" placeholder="Type to start search" />
                            <input type="hidden" class="saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder" >
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Initial pump reading</label>
                            <input style="width:70px; text-align: left;" type="text" class="saveable editable extractable inputbox" itemref="text" toref="toref" readonly="readonly" placeholder="0.00" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Final pump reading</label>
                            <input style="width:70px; text-align: left;" type="text" class="saveable editable filler inputbox" itemref="text" placeholder="0.00" 
                                   oak-data=' {"fill_elem":"0","computation":"-","extract_elems":"4,3"}|{"fill_elem":"1","computation":"*","extract_elems":"5,6"} ' />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Liters sold this shift</label>
                            <input style="width:7em; text-align: left;" type="text" class="saveable fillable inputbox" itemref="text" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">lts</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Sale price per ltr</label>
                            <input style="width:7em; text-align: left;" type="text" class="inputbox" itemref="text" toref="toref" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">/= Kes</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Expected amount</label>
                            <input style="width:7em; text-align: left;" type="text" class="fillable inputbox" itemref="text" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">/= Kes</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Short amount</label>
                            <input style="width:7em; text-align: left;" type="text" class="fillable inputbox" itemref="text" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">/= Kes</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Submitted amount</label>
                            <input style="width:7em; text-align: left;" type="text" class="saveable editable filler inputbox" itemref="text" placeholder="0.00" 
                                   oak-data='{"fill_elem":"2","computation":"-","extract_elems":"7,9"}' />
                            <label class="inputlabel"><span style="font-size:14px;">/= Kes</span></label>
                        </div>
                    </div>                        
                    <br />
                </div>
                <div class="pull-right">
                    <div style="padding: 5px;">
                        <input type="submit" class="btn btn-primary btn-lg" value="Add collection" />
                    </div>
                    <div class="update hidden" style="padding: 5px;">
                        <input type="submit" class="save btn btn-primary btn-lg" value="Update collection" />
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div>