<style>
    .inner-caption{
        text-align: center;
    }
    #_acc_ctrl{
        /*max-height: 60vh;*/

    }
    .btn-link.btn-success{
        color: #5cb85c;
    }
    .btn-link.btn-danger{
        color: #d9534f;
    }
    .btn-link:hover{
        text-decoration: none;
        cursor: default;
    }
    #user_mods,#sys_mods{
        height: 52vh;
        overflow-y: scroll;
    }
</style>
<div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#acc" data-toggle="tab">Accounts</a></li>
            <li><a href="#acc_ctrl" data-toggle="tab">Access Control</a></li>
        </ul>
        <div class="tab-content tab-content-wrapper">
            <div class="tab-pane active" id="acc">
                <div class="breadcrumb">
                    <ul class="nav nav-pills">
                        <li class="active new">
                            <a href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
                        </li>
                        <li class="active refresh">
                            <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
                        </li>
                        <li class="hidden active backtoresults">
                            <a href="javascript:void(0);" class="glyphicon">&leftarrow;</a>
                        </li>
                        <li class="pull-right">
                            <div class="searchboxholder">
                                <div style="padding: 5px;">
                                    <span class="glyphicon glyphicon-search" style="margin-top: 2px;">&emsp14;</span>
                                    <input type="text" class="searchable searchbox" placeholder="search user accounts" />
                                    <span class="ajxloader hidden"><img src="../images/loaders/ajax-loader-circle-ball-white.gif"/></span>
                                </div>
                                <div class="hidden suggest">
                                    suggest results appear here
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="btn-group">
                    <button class="table-navigation btn glyphicon glyphicon-step-backward" direction="back"></button>
                    <button class="table-navigation btn glyphicon glyphicon-step-forward" direction="forward"></button>
                </div>
                <hr />
                <div id="datum">
                    {~}
                </div>
                <div class="inputdiv well well-lg hidden">
                    <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
                        <ul class="nav nav-pills">
                            <li id="inputtitle">Enrolling a user</li>
                            <li class="pull-right">
                                <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                                <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                            </li>
                        </ul>
                    </div>

                    <div class="inputholder" style="margin-top: 5px; padding: 5px; margin-left: -20px;">
                        <form class="dataform">
                            <div id="boxholder">
                                <div class="container-fluid">
                                    <div class="inputboxholder" style="text-align: right; border:none;">
                                        <img class="editable imgpreview img-responsive img-thumbnail" itemref="image" src="" alt="No employee selected" />
                                    </div>
                                    <br />
                                    <div class="inputboxholder">
                                        <div style="padding: 5px;">
                                            <label class="inputlabel">Employee</label>
                                            <input type="text" class="searchable searchable-inline editable inputbox refsimage" itemid="empl" itemref="text" placeholder="Type to start search" />
                                            <input type="hidden" class="saveable editable" itemref="text" />
                                        </div>
                                        <div class="hidden suggest suggestholder" style="width:35em; height:9em;">
                                            suggest results appear here
                                        </div>
                                    </div>                            
                                    <br />
                                    <div class="pull-right">
                                        <div style="padding: 5px;">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Enroll user" />
                                        </div>
                                        <div class="update hidden" style="padding: 5px;">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Update user"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="acc_ctrl">
                <div class="breadcrumb" style="height:7em;">
                    <div class="inputboxholder" style="width:31em;">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Enrolled user</label>
                            <input type="text" class="searchable searchable-inline sets-datam inputbox refsimage" itemid="cont" placeholder="Type to start search" />
                        </div>
                        <div class="hidden suggest suggestholder" style="width:35em; height:9em;">
                            suggest results appear here
                        </div>
                    </div>
                    <img class="pull-right imgpreview img-responsive img-circle" style="margin-top:-53px; height: 7em;" itemref="image" src="" alt="No user selected" />
                </div>
                <div id="_acc_ctrl">
                    <div class="row-fluid">                    
                        <div class="col-sm-5 col-md-5 col-lg-5 thumbnail">
                            <h4>Application Modules</h4>
                            <div id="smods"></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div style="margin-top: 90%;">
                                <p class="inner-caption">Asign<br />
                                    <span class="btn btn-lg btn-link btn-success">------------------></span>
                                </p>
                                <p class="inner-caption">
                                    De-asign<br />
                                    <span class="btn btn-lg btn-link btn-danger"><------------------</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 thumbnail">
                            <h4>Accessed by User</h4>
                            <div id="umods"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>