<div>
    <div class="breadcrumb">
        <ul class="nav nav-pills">
            <li class="active new">
                <a href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
            </li>
            <li class="active refresh">
                <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
            </li>
            <li class="hidden active backtoresults">
                <a href="javascript:void(0);" class="glyphicon">&leftarrow;</a>
            </li>
            <li class="pull-right">
                <div class="searchboxholder">
                    <div style="padding: 5px;">
                        <span class="glyphicon glyphicon-search" style="margin-top: 2px;">&emsp14;</span>
                        <input type="text" class="searchable searchbox" placeholder="search creditors" />
                        <span class="ajxloader hidden"><img src="../images/loaders/ajax-loader-circle-ball-white.gif"/></span>
                    </div>
                    <div class="hidden suggest">
                        suggest results appear here
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr />
    <div class="btn-group">
        <button class="table-navigation btn glyphicon glyphicon-step-backward" direction="back"></button>
        <button class="table-navigation btn glyphicon glyphicon-step-forward" direction="forward"></button>
    </div>
    <hr />
    <div id="datum">        
        {~}
    </div>

    <div class="hidden inputdiv well well-lg">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Adding a creditor</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder">
            <form class="dataform" enctype="multipart/form-data">
                <div class="container-fluid">

                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="editable imgupload img-responsive img-thumbnail" itemref="image" src="" alt="Click to upload a photo" />
                        <input class="hidden" type="file" id="myfile" name="myfile" accept="application/image" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Name</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Name" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Description</label>
                            <textarea class="saveable editable inputbox" itemref="text" placeholder="A bit about the creditor"></textarea>
                            <!--<input type="text" class="saveable editable inputbox" itemref="text" placeholder="Other names" />-->
                        </div>
                    </div>                    
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Mobile No</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Mobile No" />
                        </div>
                    </div>                    
                    <br />
                    <div class="pull-right">
                        <div style="padding: 5px;" class="save">
                            <input type="submit" class="btn btn-primary btn-lg" value="Add creditor"/>
                        </div>
                        <div class="update hidden" style="padding: 5px;">
                            <input type="submit" class="btn btn-primary btn-lg" value="Update creditor"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="hidden inputdiv creditinputdiv well well-lg">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Crediting fuel</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder" style="margin-top: 5px; padding: 5px; margin-left: -20px;">
            <form class="dataform">
                <div class="boxholder">
                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="editable filled imgpreview img-responsive img-thumbnail" itemref="image" src="" alt="No client selected" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Attendant</label>
                            <input type="text" class="searchable searchable-inline inputbox" itemid="empl" placeholder="Type to start search" />
                            <input type="hidden" class="saveable" />
                        </div>
                        <div class="hidden suggest suggestholder">
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Shift</label>
                            <input type="text" class="searchable searchable-inline inputbox" itemid="shif" placeholder="Type to start search" />
                            <input type="hidden" class="saveable" />
                        </div>
                        <div class="hidden suggest suggestholder">
                            suggest results appear here
                        </div>
                    </div>                    
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Pump</label>
                            <input type="text" class="searchable searchable-inline inputbox" itemid="pump" placeholder="Type to start search" />
                            <input type="hidden" class="saveable" />
                        </div>
                        <div class="hidden suggest suggestholder">
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Creditor</label>
                            <input type="text" class="filled editable inputbox refsimage" readonly="readonly" itemref="text" placeholder="creditor" />
                            <input type="hidden" class="filled saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder">
                            suggest results appear here
                        </div>
                    </div>                            
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Initial pump reading</label>
                            <input style="width:70px; text-align: left;" type="text" class="saveable editable extractable inputbox" toref="toref" readonly="readonly" placeholder="0.00" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Final pump reading</label>
                            <input style="width:70px; text-align: left;" type="text" class="saveable editable fillable inputbox" readonly="readonly" placeholder="0.00" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:15px;">Amount</label>
                            <input style="width:70px; text-align: left;" type="text" class="saveable editable filler inputbox" placeholder="0.00" 
                                   oak-data=' {"fill_elem":"1","computation":"*","extract_elems":"6,8"}|{"fill_elem":"0","computation":"+","extract_elems":"4,6"} ' />
                            <label class="inputlabel"><span style="font-size:14px;">lts</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Amounting to</label>
                            <input style="width:7em; text-align: left;" type="text" class="fillable inputbox" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">Kes</span></label>
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel" style="font-size:14px;">Sale price per ltr</label>
                            <input style="width:7em; text-align: left;" type="text" class="inputbox" toref="toref" readonly="readonly" placeholder="0.00" />
                            <label class="inputlabel"><span style="font-size:14px;">/= Kes</span></label>
                        </div>
                    </div>
                    <br />
                </div>                
                <div class="pull-right">
                    <div style="padding: 5px;">
                        <input type="submit" class="save btn btn-primary btn-lg" param="{'save':'crfu'}" value="Credit fuel" />
                    </div>
                    <div class="update hidden" style="padding: 5px;">
                        <input type="submit" class="btn btn-primary btn-lg" value="Update prepayment" />
                    </div>
                </div>                                
            </form>
        </div>
    </div>

</div>
