<style>
    .tab-content{
        margin-left: 0.7em;
    }
    .tab-wrapper{
        margin-left: -1em;
    }
</style>

<div>
    <div class="tab-content">
        <div class="tab-pane active">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#credits" data-toggle="tab">Credits</a></li>
                </ul>
                <div class="tab-wrapper">
                    <div class="tab-content">
                        <div class="tab-pane active" id="credits">
                            {~}
                        </div><!-- End tab 1 -->
                    </div> <!-- End tab-content -->
                </div><!-- End left-tabble panes -->
            </div><!-- End of home -->
        </div>
    </div>
</div>