<style>
    .dropdown-holder{
        height: 2.6em;
        width: 13em;
    }
    #dash-wrapper{
        /*border:black thin solid;*/
        height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
<div>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Dashboard</a></li>
    </ul>

    <div class="breadcrumb">
        <div class="btn-group">
            <ul class="nav nav-pills">                
                <li class="active refresh">
                    <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
                </li>
                <li class="active">
                    <a class="dropdown-holder btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        Graph Type [ <span id="graph-type-title">Column</span> ]
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu graph-type">
                        <li><a>Area</a></li>
                        <li><a>Bar</a></li>
                        <li><a>Column</a></li>
                        <li><a>Line</a></li>
                        <li><a>Spline</a></li>
                    </ul>
                </li>
            </ul>            
        </div><!-- End of chossing graph types -->
    </div><!-- Global dash controls -->

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#summ" data-toggle="tab">Summary</a></li>
                    <li><a href="#reve" data-toggle="tab">Revenue</a></li>
                </ul>
                <div id="dash-wrapper">
                    <div class="tab-content">

                        <div class="tab-pane active" id="summ">
                            <div class="row-fluid">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <fieldset>
                                        <legend>Storage</legend>
                                        <div id="container4" style="height:400px;"></div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Stock</legend>
                                        <div class="stock-gauges"></div>
<!--                                        <p>Diesel</p>
                                        <div id="container5" style="height:300px;"></div>
                                        <p>Super</p>
                                        <div id="container6" style="height:300px;"></div>
                                        <p>Kerosine</p>
                                        <div id="container7" style="height:300px;"></div>-->
                                    </fieldset>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h3>Fuel Sales</h3>                                
                                    <fieldset>
                                        <legend>General</legend>
                                        <div id="container0" style="height:400px;"></div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Per shift</legend>
                                        <div id="container1" style="height:400px;"></div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Per product</legend>
                                        <div id="container2" style="height:400px;"></div>
                                    </fieldset>
                                </div>
                            </div>
                        </div><!-- End tab 1 -->
                        <div class="tab-pane" id="reve">
                            <div id="container3" style="height:400px;"></div>
                        </div><!-- End tab 2 -->

                    </div> <!-- End tab-content -->
                </div><!-- End left-tabble panes -->
            </div><!-- End of home -->
        </div>
    </div>
</div>
