<div>
    <div class="breadcrumb">
        <ul class="nav nav-pills">
            <li class="active new">
                <a href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
            </li>
            <li class="active refresh">
                <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
            </li>
            <li class="hidden active backtoresults">
                <a href="javascript:void(0);" class="glyphicon">&leftarrow;</a>
            </li>
            <li class="pull-right">
                <div class="searchboxholder">
                    <div style="padding: 5px;">
                        <span class="glyphicon glyphicon-search" style="margin-top: 2px;">&emsp14;</span>
                        <input type="text" class="searchable searchbox" placeholder="search employees" />
                        <span class="ajxloader hidden"><img src="../images/loaders/ajax-loader-circle-ball-white.gif"/></span>
                    </div>
                    <div class="hidden suggest">
                        suggest results appear here
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr />
    <div class="btn-group">
        <button class="table-navigation btn glyphicon glyphicon-step-backward" direction="back"></button>
        <button class="table-navigation btn glyphicon glyphicon-step-forward" direction="forward"></button>
    </div>
    <hr />
    <div id="datum">        
        {~}
    </div>

    <div class="hidden inputdiv well well-lg">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Adding an employee</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder">
            <form class="dataform" enctype="multipart/form-data">
                <div class="container-fluid">

                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="editable imgupload img-responsive img-thumbnail" itemref="image" src="" alt="Click to upload a photo" />
                        <input class="hidden" type="file" id="myfile" name="myfile" accept="application/image" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Surname</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Surname" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Other names</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Other names" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">ID/Passport No</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="ID/Passport No" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Mobile No</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Mobile No" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Wage group</label>
                            <input type="text" class="searchable searchable-inline editable inputbox" itemid="wage" itemref="text" placeholder="Type to start search" />
                            <input type="hidden" class="saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder" style="width:35em; height:9em;">
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Duty</label>
                            <input type="text" class="searchable searchable-inline editable inputbox" itemid="duty" itemref="text" placeholder="Type to start search" />
                            <input type="hidden" class="saveable editable" itemref="text" />
                        </div>
                        <div class="hidden suggest suggestholder" style="width:35em; height:9em;">
                            suggest results appear here
                        </div>
                    </div>
                    <br />
                    <div class="pull-right">
                        <div style="padding: 5px;" class="save">
                            <input type="submit" class="btn btn-primary btn-lg" value="Add employee"/>
                        </div>
                        <div class="update hidden" style="padding: 5px;">
                            <input type="submit" class="btn btn-primary btn-lg" value="Update employee"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
