<div>
    <div class="breadcrumb">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-success active">M~Pesa</button>
        </div>
    </div>
    <hr />
    <div id="datum">        
        {~}
    </div>
</div>