<style>
    .tab-content{
        margin-left: 0.7em;
    }
    .tab-wrapper{
        margin-left: -1em;
    }
</style>

<div>
    <div class="tab-content">
        <div class="tab-pane active">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#depo" data-toggle="tab">Deposits</a></li>
                    <li><a href="#cons" data-toggle="tab">Consumptions</a></li>
                </ul>
                <div class="tab-wrapper">
                    <div class="tab-content">
                        <div class="tab-pane active" id="depo">
                            {~}
                        </div><!-- End tab 1 -->
                        <div class="tab-pane" id="cons">
                            {~}
                        </div><!-- End tab 2 -->

                    </div> <!-- End tab-content -->
                </div><!-- End left-tabble panes -->
            </div><!-- End of home -->
        </div>
    </div>
</div>