<div>
    <div class="breadcrumb">
        <ul class="nav nav-pills">
            <li class="active">
                <a>
                    <p>
                        <label for="spinner">Year:</label>
                        <input class="spinner" id="year-spinner" value="2016">
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <hr/>
    <div>
        <ul class="month nav nav-pills">
            <li class="active"><a>January</a></li>
            <li><a>February</a></li>
            <li><a>March</a></li>
            <li><a>April</a></li>
            <li><a>May</a></li>
            <li><a>June</a></li>
            <li><a>July</a></li>
            <li><a>August</a></li>
            <li><a>September</a></li>
            <li><a>October</a></li>
            <li><a>November</a></li>
            <li><a>December</a></li>
        </ul>
    </div>
    <hr/>

    <div>
        <div id="datum">
            
        </div>
    </div>

</div>