<div class="breadcrumb">
    <ul class="nav nav-pills">
        <li class="active new">
            <a href="javascript:void(0);" class="glyphicon glyphicon-plus"></a>
        </li>
        <li class="active refresh">
            <a href="javascript:void(0);" class="glyphicon glyphicon-refresh"></a>
        </li>
        <li class="hidden active backtoresults">
            <a href="javascript:void(0);" class="glyphicon">&leftarrow;</a>
        </li>
        <li class="pull-right">
            <div class="searchboxholder" style="width:19em;">
                <div style="padding: 5px;">
                    <span class="glyphicon glyphicon-search" style="margin-top: 2px;">&emsp14;</span>
                    <input type="text" class="searchable searchable-inline insearch inputbox" itemid="stat" itemref="text" placeholder="Select Station" />
                    <span class="ajxloader hidden"><img src="../images/loaders/ajax-loader-circle-ball-white.gif"/></span>
                </div>
                <div class="hidden suggest">
                    suggest results appear here
                </div>
            </div>
        </li>
    </ul>
</div>
<hr />
<div class="btn-group">
    <button class="table-navigation btn glyphicon glyphicon-step-backward" direction="back"></button>
    <button class="table-navigation btn glyphicon glyphicon-step-forward" direction="forward"></button>
</div>
<hr />
<div>    
    <div id="datum">        
        {~}
    </div>

    <div class="hidden inputdiv well well-lg">
        <div style="border-bottom: gray dashed thin; padding-bottom: 10px;">
            <ul class="nav nav-pills">
                <li id="inputtitle">Adding a station</li>
                <li class="pull-right">
                    <button class="dminimize btn btn-sm btn-default glyphicon glyphicon-minus"></button>
                    <button class="dclose btn btn-sm btn-danger">&#10007;</button>
                </li>
            </ul>
        </div>

        <div class="inputholder">
            <form class="dataform" enctype="multipart/form-data">
                <div class="container-fluid">
                    <div class="inputboxholder" style="text-align: right; border:none;">
                        <img class="editable imgupload img-responsive img-thumbnail" itemref="image" src="" alt="Click to upload a photo" />
                        <input class="hidden" type="file" id="myfile" name="myfile" accept="application/image" />
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Name</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Station name" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Location</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Location" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Contact phone</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Contact phone" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Postal address</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Postal address" />
                        </div>
                    </div>
                    <br />
                    <div class="inputboxholder">
                        <div style="padding: 5px;">
                            <label class="inputlabel">Email</label>
                            <input type="text" class="saveable editable inputbox" itemref="text" placeholder="Email" />
                        </div>
                    </div>
                    <br />
                    <div class="pull-right">
                        <div style="padding: 5px;" class="save">
                            <input type="submit" class="btn btn-primary btn-lg" value="Add station"/>
                        </div>
                        <div class="hidden update" style="padding: 5px;">
                            <input type="submit" class="btn btn-primary btn-lg" value="Update station info"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
